
:root{
    --color-primary:#34C9B6;
     --color-secondary:#C7F2FF;
     --color-neutral:#757373;
}
.cardInfo{
    transition: all 0.3s linear;
}
.cardCircle{
    transition: all 0.3s linear;
}


.cardInfo:hover{
    background-color: var(--color-secondary);
    transition: all 0.3s linear;
}
.cardInfo:hover .cardCircle{
    background-color: white;
     transition: all 0.3s linear;


}
.footer-shape{
   clip-path: polygon(100% 1%, 100% 100%, 0% 100%, 0% 43%);
}